@tailwind base;
@tailwind components;
@tailwind utilities;

.polka {
    background-color: #202125;
    opacity: 1;
    background-image: radial-gradient(
        #0cce6b 1.4000000000000001px,
        #202125 1.4000000000000001px
    );
    background-size: 28px 28px;
}

.shape-divider-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

@media (min-width: 768px) {
    .shape-divider-top svg {
        width: calc(100% + 1.3px);
    }
}

@media (max-width: 767px) {
    .shape-divider-top svg {
        width: calc(150% + 1.3px);
    }
}

.shape-divider-top svg {
    position: relative;
    display: block;
    /* width: calc(100% + 1.3px); */
    height: 91px;
}

.shape-divider-top .shape-fill {
    fill: #202125;
}
